{% extends "flash.html" %}
{% block body %}

<style>
/* spinner lifted from https://catswhocode.com/css-spinner/ */
@keyframes spin {
	to { transform: rotate(1turn); }
}

.progress {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0 .5em;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	animation: spin 1s infinite steps(8);
}

.small.progress {
	font-size: 6px;
}

.large.progress {
	font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
	background: #555;
}

.progress:after {
	transform: rotate(-45deg);
	background: #777;
}

	.progress > div:before {
	transform: rotate(-90deg);
	background: #999;
}

.progress > div:after {
	transform: rotate(-135deg);
	background: #bbb;
}
</style>

<script>
    function autoSubmit() {
        document.getElementById("form").submit();
        document.getElementById("form").style.display = "none";
        document.getElementById("upload-caption").style.display = "none";
        document.getElementById("spinner").style.display = "block";
    }

    function untilCheckChanged() {
        const enabled = document.getElementById("until_check").checked;
        document.getElementById("until_text").disabled = !enabled;
    }

    // Before navigating away to show the plots, restore the landing page UI so
    // that after pressing 'back' in the browser we're ready to consume another replay.
    // Apparently not the cleanest API, but works well here
    // https://developer.mozilla.org/en-US/docs/Web/API/Window/unload_event
    window.addEventListener('beforeunload', function(event) {
        const form = document.getElementById("form");
        form.reset();
        form.style.display = "block";
        document.getElementById("upload-caption").style.display = "block";
        document.getElementById("spinner").style.display = "none";
    });
</script>

    <h1>orastem's StarCraft II Zerg skill tracker</h1>
    <p id="upload-caption">Upload a replay file:</p>
    <form id=form method=post action="/upload_replay" enctype=multipart/form-data>
        <input style="margin-bottom:1em;" type="file" name="replay_file" accept=".SC2Replay" onchange='autoSubmit()'><br>
        <input type=checkbox name=until_check id=until_check onchange='untilCheckChanged()'>until:
        <input type=text name=until_text id=until_text placeholder="mm:ss" size=5 disabled>
        <!-- <input type="submit" value="Upload"> -->
    </form>
    <div class="large progress" id=spinner style="display:none"><div>Loading…</div></div>

{% endblock %}
